<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

	<variable name="detailed" value="${longdate}  | ${pad:padding=5:inner=${level:uppercase=true}} | ${pad:padding=30:inner=${logger}}   | ${message} ${exception:format=tostring,StackTrace}"/>
	<variable name="folder" value="${basedir}/logs/Process_${date:format=yyyy-MM-dd (ddd)} (${processid})"/>

	<targets async="true">

		<target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
		layout="${detailed}" >
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" backgroundColor="Black"  />
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" backgroundColor="Black"  />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="DarkGreen" backgroundColor="Black"  />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Magenta" backgroundColor="Black" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Yellow" backgroundColor="DarkRed"/>
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Black" backgroundColor="Red" />
		</target>

		<target name="SeparateFiles" xsi:type="File"
				layout="${detailed}"
				fileName="${folder}/${level}/${logger}.txt"
				keepFileOpen="false"
				archiveEvery="Day"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="1000000"
				maxArchiveFiles="100"
				encoding="UTF-8" />

	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="console" />
		<logger name="*" minlevel="Info" writeTo="SeparateFiles">
			<filters defaultAction='Log'>
				<when condition="contains('${logger}','Microsoft.')" action="Ignore" />
				<when condition="contains('${logger}','System.')" action="Ignore" />
			</filters>
		</logger>
	</rules>

</nlog>